@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
/* Header related styles */
nav {
  width: 78%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h3 {
  color: #131318;
  font-size: 2rem;
  font-weight: 800;
  display: contents;
}
nav .travels {
  color: #ff5400;
  font-weight: 800;
}
.nav-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav > ul {
  display: flex;
  /* padding-left: 20px; */
}
nav li {
  list-style: none;
  margin-right: 40px;
}
nav li a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
}
nav .home {
  color: #ff5400;
  text-align: center;
  font-weight: 700;
}
.hamburger {
  display: none;
}
/* banner related styles */
.banner {
  max-width: 78%;
  margin: 0 auto;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-size: cover;
  padding: 100px 0;
  gap: 24px;
}
.banner h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 25px;
}
.banner p {
  color: #fff;
  text-align: center;
  font-weight: 400;
  margin-bottom: 50px;
}
.banner input {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
}
.btn-primary {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 1.1rem;
}
/* .banner input,
.btn-primary {
  box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.3);
  box-shadow: 3pc;
  border-radius: 8px;
} */
.form {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}
/* popular related styles */
.popular-container {
  width: 78%;
  margin: 120px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.popular-text {
  width: 600px;
}
.popular-text > ul {
  color: rgba(19, 19, 24, 0.7);
  font-weight: 400;
  line-height: 25px;
}
.popular-text h3 {
  margin-bottom: 30px;
}
.popular-text p {
  margin-top: 30px;
}
.popular-container > img {
  width: 100%;
  max-width: 800px;
}
/* destination related styles */

.destination-container {
  margin: 120px auto;
  align-items: center;
  text-align: center;
}
.destination-container-h3,
.choose-text h3 {
  color: #131318;
  font-size: 2.75rem;
  font-weight: 800;
}
.destination-container-p,
.choose-text p,
.newsletter-text p {
  color: rgba(19, 19, 24, 0.7);
  font-weight: 400;
  max-width: 700px;
  margin: 10px auto;
}
.destination {
  width: 78%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
.country {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  /* padding-top: 150px; */
  /* padding: auto; */
  min-height: 300px;
  /* border: 2px solid black; */
  color: #fff;
  font-size: 1.75rem;
  font-weight: 800;
  border-radius: 14px;
  background-repeat: no-repeat;
  background-size: cover;
}
.country-one {
  grid-column: 1 / span 6;
  grid-row: 1 / span 1;
  background: url("../images/Rectangle\ 5.png");
  background-size: 700px 300px;
  background-repeat: no-repeat;
}
/* linear-gradient(
      rgba(234, 230, 230, 0.2),
      rgba(255, 255, 255, 0.2)
    ), */
.country-two {
  grid-column: 7 / span 6;
  grid-row: 1 / span 1;
  background-image: url("../images/Group\ 39.png");
}
.country-three {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  background-image: url("../images/Rectangle\ 6.png");
}
.country-four {
  grid-column: 4 / span 6;
  grid-row: 2 / span 1;
  background-image: url("../images/Rectangle\ 7.png");
}
.country-five {
  grid-column: 10 / span 3;
  grid-row: 2 / span 1;
  background-image: url("../images/Rectangle\ 9.png");
}
.country-six {
  grid-column: 1 / span 4;
  grid-row: 3 / span 1;
  background-image: url("../images/Rectangle\ 11.png");
}
.country-seven {
  grid-column: 5 / span 8;
  grid-row: 3 / span 1;
  background-image: url("../images/Rectangle\ 10.png");
}
/* map related styles */
.map {
  max-width: 78%;
  margin: 150px auto;
}
.map-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.map-text {
  margin: 0 auto;
  max-width: 800px;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.transform {
  /* margin-left: 100px; */
}
.container-transform,
.inner {
  /* margin-left: 100px; */
  width: 550px;
  height: 440px;
}
.container-transform {
  /* border: 2px solid steelblue; */
  /* background-color: aquamarine; */
}
.inner:hover {
  border: 2px solid black;
  background-color: bisque;
  /* transform: scale(0.5); */
  /* transform: rotate(-25deg); */
  transform: scale(1) rotate(360deg) translateY(200px);
  transition: ease-out 5s;
  /* transform: skew(45deg); */
}
.inner-1 {
  background-image: url("../images/travel-world-landmarks-background-blue-sky-46083021.webp");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  /* width: 600px;
  height: 450px; */
}
/* .inner-2 {
  background-image: url("../images/588661nitsa.jpg");
  background-repeat: no-repeat;
  background-position: center; */
/* object-fit: contain; */

.map-text p {
  color: #5a5a5d;
  text-align: center;
  font-weight: 400;
  line-height: 26px;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* choose related styles */
.choose {
  width: 78%;
  margin: 120px auto;
}
.choose-text {
  align-items: center;
  text-align: center;
}
.choose-text > p {
  margin-bottom: 40px;
}
/* .choose-text h3 {
  color: #131318;
  font-size: 2.75rem;
  font-weight: 800;
} */
/* .choose-lista {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
} */
.choose-list {
  /* margin: 120px auto; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}
.choose-list-child {
  margin-bottom: 30px;
  max-width: 650px;
  min-height: 300px;
  padding: 30px;
}
.choose-list-a {
  grid-column: 1 / span 6;
  grid-row: 1 / span 1;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.choose-list-b {
  grid-column: 7 / span 6;
  grid-row: 1 / span 1;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.choose-list-c {
  grid-column: 4 / span 6;
  grid-row: 2 / span 1;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
.choose-list-child > p,
h3 {
  margin-top: 30px;
}
.choose-list-child > p {
  line-height: 26px;
}
/* newletter related styles */
.newsletter {
  width: 78%;
  margin: 120px auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.newsletter input {
  display: block;
  width: 90%;
  height: 52px;
  margin-top: 20px;
}
.subscribe-button {
  display: block;
  border-radius: 8px;
  background: #ff5400;
  width: 90%;
  height: 52px;
  border: none;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 1.1rem;
  margin-top: 20px;
}
.newsletter-text {
  width: 40%;
  padding: 50px;
  border-radius: 16px;
  border: 1px solid #ff5400;
}
.newsletter-image > img {
  width: 90%;
  max-width: 800px;
  height: 600px;
}
.newsletter-text h3 {
  color: #131318;
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 40px;
}
.newsletter-text p {
  margin-bottom: 40px;
}
.newsletter-image {
  position: relative;
}
.travel-badge {
  background: #ff5400;
  max-width: 320px;
  border-radius: 16px;
  padding: 5px;
  text-align: center;
  position: absolute;
  bottom: 90px;
  left: 350px;
  transform: rotate(-20deg);
  /* translate: rotate(45deg); */
}
.travel-badge p {
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  /* font-weight: 400; */
  margin-bottom: 0;
  margin-top: 15px;
}
.travel-badge h3 {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 15px;
}
footer {
  background: rgba(19, 19, 24, 0.05);
  width: 100%;
  height: 300px;
  margin: 120px 0 0 0;
  padding: 100px 0 300px 0;
  text-align: center;
  align-items: center;
}
.footer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.footer-icon > .fa-brands {
  margin: 30px;
}
footer p {
  margin-top: 40px;
}
.footer-title h3 {
  display: contents;
}
@media screen and (max-width: 600px) {
  .menu-items {
    display: none;
  }
  .hamburger {
    display: block;
    /* padding-top: 10px;
    width: 24px;
    height: 24px; */
  }
  nav {
    margin: auto;
  }
  .banner h1 {
    font-size: 2rem;
  }
  .form {
    flex-direction: column;
    margin: 20px;
    align-items: center;
  }
  .popular-container {
    flex-direction: column;
    margin: 20px;
  }
  .popular-text {
    width: fit-content;
    margin-left: 40px;
  }
  .destination {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .country-one {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .country-two {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .country-three {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  .country-four {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
  .country-five {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
  }
  .country-six {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
  }
  .country-seven {
    grid-column: 1 / span 1;
    grid-row: 7 / span 1;
  }
  .map-flex {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .map-link {
    max-width: 80%;
  }
  .choose-list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .choose-list-child {
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }
  .choose-list-a {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .choose-list-b {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .choose-list-c {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  .newsletter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  .newsletter-text {
    width: 100%;
    margin-bottom: 40px;
    margin-left: 80px;
  }
  .newsletter-image > img {
    width: 500px;
    height: 350px;
    margin-left: 15px;
    padding-left: 70px;
    /* object-fit: cover; */
  }
  footer {
    /* text-wrap: wrap; */
    margin-top: 20px;
    padding: 10px;
    align-items: center;
  }
  .container-transform,
  .inner {
    /* margin-left: 100px; */
    width: 300px;
    height: 250px;
  }
}
